<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diabin.latte">

    <!--网络权限-->
    <!--允许上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--拨号权限-->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--文件权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--相机权限-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--允许安装apk-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <!--图片剪裁Activity-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

<!--        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.diabin.fastec.example"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>-->



        <service
            android:name="com.flj.latte.util.up_apk.sample.v1.DemoService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.flj.latte.util.up_apk.sample.v1.CustomVersionDialogActivity"
            android:launchMode="singleTask"
            android:theme="@style/versionCheckLibvtransparentTheme" />
        <activity android:name="com.flj.latte.util.up_apk.sample.v1.V1Activity"/>
        <activity android:name="com.flj.latte.util.up_apk.sample.v2.V2Activity" />
    </application>

</manifest>
